######################
# Project Specific
######################
/target/classes/static/**

!/target/docentesoap-v0.0.1.jar

######################
# Eclipse
######################
*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/

######################
# Visual Studio Code
######################
.vscode/

######################
# Others
######################
*.class